@model MonitorNetwork.Models.CreditCardAndAccountViewModel

<div class="form-group">
    @Html.Label("Account First Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.account.accountFirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.account.accountFirstName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Account Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.account.accountLastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.account.accountLastName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.account.address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.account.address, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.account.phoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "(000) 000-0000" } })
        @Html.ValidationMessageFor(model => model.account.phoneNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Spending Limit", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.account.spendingLimit, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = Model == null ? 0 : Model.account.spendingLimit } })
        @Html.ValidationMessageFor(model => model.account.spendingLimit, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Balance", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.account.balance, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = Model == null ? 0 : Model.account.balance } })
        @Html.ValidationMessageFor(model => model.account.balance, "", new { @class = "text-danger" })
    </div>
</div>
