@model IEnumerable<MonitorNetwork.Database.account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Address
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Spending Limit
        </th>
        <th>
            Balance
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.accountFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @String.Format("{0:000-000-0000}", Int64.Parse(item.phoneNumber))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spendingLimit)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.accountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.accountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.accountID })
        </td>
    </tr>
}

</table>
