@model MonitorNetwork.Models.CreditCardAndAccountViewModel

<div class="form-group">
    @Html.Label("Card Number", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.creditcard.cardNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @Value = ViewBag.creditCardNumber } })
        @Html.Hidden("creditCard.cardNumber", (string)ViewBag.creditCardNumber)
        @Html.ValidationMessageFor(model => model.creditcard.cardNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Expiration Date", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.creditcard.expirationDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.creditcard.expirationDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Security Code", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.creditcard.securityCode, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
        @Html.ValidationMessageFor(model => model.creditcard.securityCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Customer First Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.creditcard.customerFirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.creditcard.customerFirstName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Customer Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.creditcard.customerLastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.creditcard.customerLastName, "", new { @class = "text-danger" })
    </div>
</div>