@model MonitorNetwork.Database.creditcard

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
   
<div class="form-horizontal">
    <h4>Credit Card</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    @Html.Partial("_CreditCardFieldsPartial")

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            Add Existing Account @Html.RadioButton("chooseAccount", "true", true, new { onclick = "disableSelf()" })
            Create Account @Html.RadioButton("chooseAccount", "false", new { onclick = "enableSelf()" })
        </div>
    </div>

    <div id="existingOrNewAccount">

        <div id="existingAccount">
            @Html.Partial("_ExistingAccountPartial")
        </div>
        <div id="newAccount">

        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
