@model IEnumerable<MonitorNetwork.Database.creditcard>

@{
    ViewBag.Title = "Credit Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Credit Cards</h2>

<p>
    @Html.ActionLink("Add Credit Card", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Customer First Name
        </th>
        <th>
            Customer Last Name
        </th>
        <th>
            Card Number
        </th>
        <th>
            Expiration Date
        </th>
        <th>
            Security Code
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerLastName)
        </td>
        <td>
            @String.Format("{0:0000 0000 0000 0000}", Int64.Parse(item.cardNumber))
        </td>
        <td>
            @item.expirationDate.ToString("MM/dd/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.securityCode)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cardID })
        </td>
    </tr>
}

</table>