@model MonitorNetwork.Models.StoreModel
@{
    ViewBag.Title = "Create2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>store</h4>
        <hr />
        @foreach (var item in Model.relays)
        {
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    Connection @Html.CheckBox("");

                    @* @Html.ValidationMessageFor(model => model.isCredit, "", new { @class = "text-danger" })*@


                    <div class="form-group">
                        @* @Html.LabelFor(model => model.merchantName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2">
                            @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.merchantName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
            </div>
        }



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Store" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

