@model MonitorNetwork.Models.StoreModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
        function regionChange() {
            $.ajax({
                type: "GET",
                url: '/Store/GetRelays?regionId=' + $("#store_regionID").val(),
                dataType: 'html',
                success: function (data) {
                    $('#relay-partial').html(data);
                }
            });
        }

        $("#store_storeIP").inputmask({ alias: "ip", mask: "\\1\\9\\2\\.\\1\\6\\8\\.9[9][9]\\.9[9][9]" });
    </script>
}
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    <div class="form-horizontal">
        <h4>Store</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Store IP", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.store.storeIP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.store.storeIP, "", new { @class = "text-danger" })
                <small class="form-text text-muted">Press space to move to the next IP field.</small>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Merchant Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.store.merchantName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.store.merchantName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Region Color", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("store.regionID", null, htmlAttributes: new { @class = "form-control", onchange = "regionChange()" })
                @Html.ValidationMessageFor(model => model.store.regionID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div id="relay-partial">
                    @Html.Partial("_RelayPartial")
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
