@model IEnumerable<MonitorNetwork.Database.transaction>

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("Create New Transaction", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Account
        </th>
        <th>
            Merchant Name
        </th>
        <th>
            Credit/Debit
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(Html.DisplayFor(modelItem => item.account.accountFirstName)) @(Html.DisplayFor(modelItem => item.account.accountLastName))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.merchantName)
        </td>
        <td>
            @(item.isCredit ? "Credit" : "Debit")
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.transactionID }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.transactionID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.transactionID })*@
        </td>
    </tr>
}

</table>
