@model IEnumerable<MonitorNetwork.Database.transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account.accountFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store.storeIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeOfTransaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeOfResponse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isEncrypted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account.accountFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.storeIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeOfTransaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeOfResponse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isEncrypted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.transactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.transactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.transactionID })
        </td>
    </tr>
}

</table>
