@model MonitorNetwork.Database.transaction

<td>
    @Html.DisplayFor(modelItem => Model.transactionID)
</td>
<td>
    @(Html.DisplayFor(modelItem => Model.account.accountFirstName)) @(Html.DisplayFor(modelItem => Model.account.accountLastName))
</td>
<td>
    @Html.DisplayFor(modelItem => Model.store.merchantName) (@Model.store.storeIP.Substring(8))
</td>
<td>
    @(Model.isCredit ? "Credit" : "Debit")
</td>
<td>
    @if (!Model.isCredit && Model.isSelf)
    {
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    }
</td>
<td>
    $@Html.DisplayFor(modelItem => Model.amount)
</td>
<td>
    @if (Model.isSent)
    {
        @: Sent
    }
    else
    {
        <a href="javascript:void(0)" onclick="sendTransaction(@Model.transactionID, @Model.storeID)">Encrypt Then Send</a>
    }
</td>
