@model MonitorNetwork.Database.transaction

<td>
    @Html.DisplayFor(modelItem => Model.transactionID)
</td>
<td>
	@if (Model.timeOfTransaction.HasValue)
	{
		@Model.timeOfTransaction.Value.ToString("MMM dd, yyyy hh:mm:ss tt");
	}
	else
	{
		@: NULL
	}
</td>
<td>
    @(Html.DisplayFor(modelItem => Model.creditcard.customerFirstName)) @(Html.DisplayFor(modelItem => Model.creditcard.customerLastName))
</td>
<td>
    @Html.DisplayFor(modelItem => Model.store.merchantName) (@Model.store.storeIP.Substring(8))
</td>
<td>
    @(Model.isCredit ? "Credit" : "Debit")
</td>
<td>
    @if (!Model.isCredit && Model.isSelf)
    {
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    }
</td>
<td>
    $@Html.DisplayFor(modelItem => Model.amount)
</td>
<td>
    @if(Model.status.HasValue)
    {
        if (Model.status.Value) {
            @:Approved
        } else {
            @:Declined
        }; 
    }
    else
    {
        @:Unprocessed
    }
</td>
<td>
	@if (Model.timeOfResponse.HasValue)
	{
		@Model.timeOfResponse.Value.ToString("MMM dd, yyyy hh:mm:ss tt");
	}
	else
	{
		@: NULL
	}
</td>
<td>
	Finished
</td>
