@model IList<MonitorNetwork.Database.transaction>

<div>
    <h3>Transactions</h3>

    <p>
        @Html.ActionLink("Create New Transaction", "Create", "Transaction")
    </p>
</div>

<table class="table">
	<tr>
		<th>
			Transaction ID
		</th>
		<th>
			Account
		</th>
		<th>
			Merchant Name
		</th>
		<th>
			Credit/Debit
		</th>
		<th>
			SELF
		</th>
		<th>
			Amount
		</th>
		<th>
			Status
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model.Reverse())
	{
	    <tr id="transactionRow@(item.transactionID)">

		    @if (item.atProcCenter)
	        {
		        @Html.Partial("_ProcessingTransactionPartial", item)
            }
            else if (item.isEncrypted)
            {
	            @Html.Partial("_EncryptTransactionRowPartial", item)
            }
            else if (!item.isEncrypted && item.isSent && !item.atProcCenter)
            {
                @Html.Partial("_FinishedTransactionPartial", item)
            }
            else
            {
                @Html.Partial("_DetailTransactionRowPartial", item)
            }


        </tr>
	}

</table>

<script>
    function sendTransaction(transactionId, storeId) {
        $.ajax({
            type: "GET",
            url: '/Home/EncryptThenSend?id=' + transactionId,
            dataType: 'html',
            success: function (data) {
                $('#transactionRow' + transactionId).html(data);
            }
        });

        sendTransactionToProcessCenter(transactionId, storeId);
	}

	function processingTransaction(transactionId, storeId) {
		$.ajax({
			type: "GET",
			url: '/Home/ProcessTransaction?id=' + transactionId,
			dataType: 'html',
			success: function (data) {
				$('#transactionRow' + transactionId).html(data);
			}
		});

	}

	function sendBackToStore(transactionId, storeId) {
		$.ajax({
			type: "GET",
			url: '/Home/SendBackToStore?id=' + transactionId,
			dataType: 'html',
			success: function (data) {
				$('#transactionRow' + transactionId).html(data);
			}
		});
		sendTransactionToStore(transactionId, storeId);
	}

</script>
