@model MonitorNetwork.Models.NetworkModel
@{
    ViewBag.Title = "Home Page";

}
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>
    <script src="~/Scripts/cytoscape.config.js"></script>
    <script src="~/Scripts/algorithm.js"></script>
}


<div id="cy" style=" z-index: 0; overflow: hidden; width: 800px; height: 700px; margin: 0 auto; "></div>

<script>

    @{
        string connections = Newtonsoft.Json.JsonConvert.SerializeObject(Model.connections);
        string relays = Newtonsoft.Json.JsonConvert.SerializeObject(Model.relays);
        string stores = Newtonsoft.Json.JsonConvert.SerializeObject(Model.stores);
        string nodes = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeNodes);
        string edges = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeEdges);
    }
    var connections = @Html.Raw(connections);
    var relays = @Html.Raw(relays);
    var stores = @Html.Raw(stores);

    var cytoscapeNodes = @Html.Raw(nodes);
    var cytoscapeEdges = @Html.Raw(edges);

    var processingCenterId = relays.find(function (relay) {
        return relay.isProcessingCenter;
    });

    var nodeQueues = [{ id: "r1", queue: [{ transactionID: 100001, toProcCenter = true, storeId: "s1" }] }];
    var isTransmitting = false;


    function transmitTransactions() {
        return new Promise(function (resolve, reject) {

            while (!nodeQueuesEmpty()) {
                var animations = [];
                nodeQueues.forEach(function (nodeQueue) {
                    if (nodeQueue.queue.length > 0) {
                        var transactionToMove = nodeQueue.queue.shift();
                        var path;
                        if (transactionToMove.toProcCenter) {
                            path = startPath(nodeQueue.id, processingCenterId);
                        } else {
                            path = startPath(nodeQueue.id, transactionToMove.storeId);
                        }
                        animations.push(path);
                    }
                });

            }
        });
    }

    function nodeQueuesEmpty() {
        return nodeQueues.every(function (nodeQueue) {
            return nodeQueue.queue.length == 0;
        });
    }
    
    function moveTransaction(startID) {
        var pathToMove = startPath(startID);
        highlightNextEle(pathToMove);
    }

</script>

<div id="transactions">
    @Html.Partial("_TransactionPartial", Model.transactions)
</div>