@model MonitorNetwork.Models.NetworkModel
@{
    ViewBag.Title = "Home Page";

}
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>
    <script src="~/Scripts/cytoscape.config.js"></script>
    <script src="~/Scripts/graph.findpath.js"></script>
}


<div id="cy" style=" z-index: 0; overflow: hidden; width: 800px; height: 700px; margin: 0 auto; "></div>

<script>

    @{
        string connections = Newtonsoft.Json.JsonConvert.SerializeObject(Model.connections);
        string relays = Newtonsoft.Json.JsonConvert.SerializeObject(Model.relays);
        string stores = Newtonsoft.Json.JsonConvert.SerializeObject(Model.stores);
        string nodes = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeNodes);
        string edges = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeEdges);
    }
    var connections = @Html.Raw(connections)
    var relays = @Html.Raw(relays)
    var stores = @Html.Raw(stores)

    var cytoscapeNodes = @Html.Raw(nodes)
    var cytoscapeEdges = @Html.Raw(edges)

    function moveTransaction(startID) {
        var pathToMove = startPath(startID);
        highlightNextEle(pathToMove);
    }

</script>

<div id="transactions">
    @Html.Partial("_TransactionPartial", Model.transactions)
</div>