@model MonitorNetwork.Models.NetworkModel
@{
    ViewBag.Title = "Home Page";

}
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>
    <script src="~/Scripts/cytoscape.config.js"></script>
    <script src="~/Scripts/graph.findpath.js"></script>
    <script src="~/Scripts/graph.start.stop.js"></script>
    <script src="~/Scripts/move.transaction.js"></script>
}
   

<div id="cy" style=" z-index: 0; overflow: hidden; width: 800px; height: 700px; margin: 0 auto; "></div>
<div class='col-md-3 my-legend'>
    <div class='legend-title'>Node Explanation</div>
    <div class='legend-scale'>
        <ul class='legend-labels'>
            <li><span style='background:#FFF000;'></span>Processing Center</li>
            <li><span style='background:#000000;'></span>Relay Stations</li>
            <li><span style='background:#999999;'></span>Stores</li>
            <li><span style='background:#8080FF;'></span>Deactivate</li>
        </ul>
    </div>

</div>
<div class="col-md-2 col-md-offset-7">

    <button id="resumeFlowBtn"class="btn btn-default" type="submit" onclick="resumeFlow()" disabled="Disabled">Resume</button>

    <button id="stopFlowBtn" class="btn btn-default" type="submit" onclick="stopFlow()">Stop</button>

</div>

<script>

    @{
        string connections = Newtonsoft.Json.JsonConvert.SerializeObject(Model.connections);
        string relays = Newtonsoft.Json.JsonConvert.SerializeObject(Model.relays);
        string stores = Newtonsoft.Json.JsonConvert.SerializeObject(Model.stores);
        string nodes = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeNodes);
        string edges = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeEdges);
    }
    var connections = @Html.Raw(connections);
    var relays = @Html.Raw(relays);
    var stores = @Html.Raw(stores);

    var cytoscapeNodes = @Html.Raw(nodes);
    var cytoscapeEdges = @Html.Raw(edges);

    var processingCenterId = "r" + relays.find(function (relay) {
        return relay.isProcessingCenter;
    }).relayID;

    var elementQueues = {};

    function constructNodeQueues() {
        relays.forEach(function (relay) {
            elementQueues["r" + relay.relayID] = [];
        });

        stores.forEach(function (store) {
            elementQueues["s" + store.storeID] = [];
        });

        connections.forEach(function (connection) {
            if (connection.relayID === null) {
                elementQueues["s" + connection.storeID + "r" + connection.destRelayID] = [];
            } else {
                elementQueues["r" + connection.relayID + "r" + connection.destRelayID] = [];
            }
        });
    }

    constructNodeQueues();

</script>

<div id="transactions" style="padding-top: 100px;">
    @Html.Partial("_TransactionPartial", Model.transactions)
</div>