@model MonitorNetwork.Models.NetworkModel
@{
    ViewBag.Title = "Home Page";

}
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.8/cytoscape.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>
    <script src="~/Scripts/cytoscape.config.js"></script>
    <script src="~/Scripts/graph.findpath.js"></script>

    <script src="~/Scripts/move.transaction.js"></script>
}
    <style type='text/css'>
        .my-legend {
            position: absolute;
            left: 200px;
            top: 550px
        }
        .my-legend .legend-title {
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 90%;
        }

        .my-legend .legend-scale ul {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            float: left;
            list-style: none;
        }

            .my-legend .legend-scale ul li {
                font-size: 80%;
                list-style: none;
                margin-left: 0;
                line-height: 18px;
                margin-bottom: 2px;
            }

        .my-legend ul.legend-labels li span {
            display: block;
            float: left;
            height: 16px;
            width: 30px;
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #999;
        }

        .my-legend .legend-source {
            font-size: 70%;
            color: #999;
            clear: both;
        }

        .my-legend a {
            color: #777;
        }
    </style>

<div id="cy" style=" z-index: 0; overflow: hidden; width: 800px; height: 700px; margin: 0 auto; "></div>
<div class='my-legend'>
    <div class='legend-title'>Node Explanation</div>
    <div class='legend-scale'>
        <ul class='legend-labels'>
            <li><span style='background:#FFF000;'></span>Processing Center</li>
            <li><span style='background:#000000;'></span>Relay Stations</li>
            <li><span style='background:#999999;'></span>Stores</li>
            <li><span style='background:#8080FF;'></span>Deactivate</li>
        </ul>
    </div>

</div>
<div class="col-md-2 col-md-offset-10">

    <button class="btn btn-default" type="submit" onclick="startFlow()">Start</button>

    <button class="btn btn-default" type="submit" onclick="stopFlow()">Stop</button>

</div>

<script>

    @{
        string connections = Newtonsoft.Json.JsonConvert.SerializeObject(Model.connections);
        string relays = Newtonsoft.Json.JsonConvert.SerializeObject(Model.relays);
        string stores = Newtonsoft.Json.JsonConvert.SerializeObject(Model.stores);
        string nodes = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeNodes);
        string edges = Newtonsoft.Json.JsonConvert.SerializeObject(Model.cytoscapeEdges);
    }
    var connections = @Html.Raw(connections);
    var relays = @Html.Raw(relays);
    var stores = @Html.Raw(stores);

    var cytoscapeNodes = @Html.Raw(nodes);
    var cytoscapeEdges = @Html.Raw(edges);

    var processingCenterId = "r" + relays.find(function (relay) {
        return relay.isProcessingCenter;
    }).relayID;

    //var nodeQueues = { "r1" : [{ transactionId: 100001, toProcCenter = true, storeId: "s1" }] };
    var nodeQueues = {};

    function constructNodeQueues() {
        relays.forEach(function (relay) {
            nodeQueues["r" + relay.relayID] = [];
        });

        stores.forEach(function (store) {
            nodeQueues["s" + store.storeID] = [];
        });
    }

    constructNodeQueues();

</script>

<div id="transactions" style="padding-top: 20px;">
    @Html.Partial("_TransactionPartial", Model.transactions)
</div>